:root {
  scroll-behavior: auto;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
}
#Home {
  width: 100%;
  height: 660px;
  background-image: linear-gradient(rgba(214, 46, 51, 0.6) 0 100%),
    url("../imgs/events-heavenly-header.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#Home .content h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
}
aside {
  width: fit-content;
}
aside .menu {
  width: 0;
  overflow: hidden;
  padding-top: 60px;
  background-color: #111;
  z-index: 9999;
}
aside .menu span i {
  font-size: 25px;
  padding-right: 25px;
}

aside ul {
  list-style: none;
  padding: 0 !important;
}
aside ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 38px;
  padding: 20px 8px 20px 32px;
  transition: 0.3s;
}
aside ul li a:hover {
  color: #601c1e;
}

aside .menu .x-icon {
  color: #fff;
  transition: 0.3s;
}
aside .menu .x-icon:hover {
  color: #601c1e;
}
.open-menu {
  position: absolute;
  top: 350px;
  font-size: 30px;
  line-height: 45px;
  cursor: pointer;
}

#Details .singer {
  width: 50%;
  margin: auto;
  text-align: center;
}
#Details .singer h3 {
  background-color: rgba(214, 46, 51, 0.6);
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
#Details .singer p {
  background-color: #ccc;
  padding: 10px;
  display: none;
}
#Details .singer-1 p {
  display: block;
}

#Duration {
  height: 330px;
  background-image: linear-gradient(rgba(214, 46, 51, 0.6) 0 100%),
    url("../imgs/invitation-2508607__340.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#Duration .box {
  display: block;
  border: 1px solid #fff;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 45px;
}

#Contact .container .ContactInfo .details div {
  width: fit-content;
  margin: auto;
}
#Contact .container .joinUs h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  color: rgb(68, 68, 68);
}
#Contact .container .joinUs p {
  font-weight: 300;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
#Contact .container .ContactInfo h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  color: rgb(68, 68, 68);
}
#Contact .container .ContactInfo p {
  line-height: 26px;
  color: rgb(119, 119, 119);
}
#Contact .container .ContactInfo span {
  color: rgb(119, 119, 119);
}
#Contact .container .ContactInfo .icons span {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #999;
  cursor: pointer;
  text-align: center;
}
#Contact .container .ContactInfo .icons span:hover {
  background-color: #d62e33;
  color: #fff;
}
#Contact .container .ContactForm input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0.375rem 0.75rem;
  border-radius: 0 !important;
}
#Contact .container .ContactForm p {
  line-height: 24px;
}
#Contact .container .ContactForm button {
  background-color: #d62e33;
  color: #fff;
  padding: 10px 20px;
  border-color: transparent;
}
#Contact .container .ContactForm textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  height: 200px;
  resize: vertical;
  border-radius: 0 !important;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
  #Duration .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  #Duration .box p {
    margin-bottom: 0 !important;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
